<?xml version="1.0" encoding="UTF-8"?>

<Server version="8">
	<Name>OvenMediaEngine</Name>
	<Type>origin</Type>
	<IP>*</IP>
	<StunServer>stun.l.google.com:19302</StunServer>

	<Bind>
		<Managers>
			<API>
				<Port>48081</Port>
				<WorkerCount>1</WorkerCount>
			</API>
		</Managers>

		<Providers>
			<RTMP>
				<Port>1935</Port>
			</RTMP>
			<SRT>
				<Port>9999</Port>
			</SRT>
			<MPEGTS>
				<Port>4000-4004,4005/udp</Port>
			</MPEGTS>
			<WebRTC>
				<Signalling>
					<Port>3333</Port>
				</Signalling>

				<IceCandidates>
					<TcpRelay>*:3478</TcpRelay>
					<IceCandidate>*:10000-10005/udp</IceCandidate>
				</IceCandidates>
			</WebRTC>
		</Providers>

		<Publishers>
			<OVT>
				<Port>9000</Port>
			</OVT>
			<HLS>
				<Port>3333</Port>
			</HLS>
			<LLHLS>
				<Port>3333</Port>
			</LLHLS>
			<DASH>
				<Port>3333</Port>
			</DASH>
			<WebRTC>
				<Signalling>
					<Port>3333</Port>
				</Signalling>

				<IceCandidates>
					<TcpRelay>*:3478</TcpRelay>
					<IceCandidate>*:10000-10005/udp</IceCandidate>
				</IceCandidates>
			</WebRTC>
			<Thumbnail>
				<Port>3333</Port>
			</Thumbnail>
		</Publishers>
	</Bind>
	<Managers>
		<Host>
			<Names>
				<Name>127.0.0.1</Name>
			</Names>
		</Host>
		<API>
			<AccessToken>... my super secret access token ...</AccessToken>
		</API>
	</Managers>

	<VirtualHosts>
		<!-- You can use wildcard like this to include multiple XMLs -->
		<VirtualHost include="VHost*.xml" />
		<VirtualHost>
			<Name>default</Name>

			<Host>
				<Names>
					<Name>*</Name>
				</Names>
			</Host>

			<Applications>
				<Application>
					<Name>bam</Name>
					<Type>live</Type>
					<OutputProfiles>
						<OutputProfile>
							<Name>bypass</Name>
							<OutputStreamName>${OriginStreamName}</OutputStreamName>
							<Encodes>
								<Video>
									<Bypass>true</Bypass>
								</Video>
								<Audio>
									<Codec>opus</Codec>
									<Bitrate>128000</Bitrate>
									<Samplerate>48000</Samplerate>
									<Channel>2</Channel>
								</Audio>
								<Audio>
									<Bypass>true</Bypass>
								</Audio>
								<Image>
									<Codec>png</Codec>
									<Framerate>1</Framerate>
								</Image>
							</Encodes>
						</OutputProfile>
						<OutputProfile>
							<Name>cclow</Name>
							<OutputStreamName>${OriginStreamName}_cclow</OutputStreamName>
							<Encodes>
								<Video>
									<Codec>x264</Codec>
									<Bitrate>1000000</Bitrate>
									<Framerate>60</Framerate>
									<Width>1280</Width>
									<Height>720</Height>
									<Preset>fast</Preset>
								</Video>
								<Audio>
									<Bypass>true</Bypass>
								</Audio>
								<Image>
									<Codec>png</Codec>
									<Framerate>1</Framerate>
								</Image>
							</Encodes>
						</OutputProfile>
					</OutputProfiles>
					<Providers>
						<OVT />
						<WebRTC />
						<RTMP />
						<SRT />
						<MPEGTS>
							<StreamMap>
								<Stream>
									<Name>stream_${Port}</Name>
									<Port>4000,4001-4004</Port>
								</Stream>
								<Stream>
									<Name>stream_4005</Name>
									<Port>4005</Port>
								</Stream>
							</StreamMap>
						</MPEGTS>
						<RTSPPull />
						<WebRTC>
							<Timeout>30000</Timeout>
						</WebRTC>
					</Providers>
					<Publishers>
						<OVT />
						<WebRTC>
							<Timeout>30000</Timeout>
							<Rtx>true</Rtx>
							<Ulpfec>true</Ulpfec>
							<JitterBuffer>true</JitterBuffer>
						</WebRTC>
						<HLS>
							<SegmentDuration>4</SegmentDuration>
							<SegmentCount>2</SegmentCount>
							<CrossDomains>
								<Url>*</Url>
							</CrossDomains>
						</HLS>
						<LLHLS>
							<ChunkDuration>0.2</ChunkDuration>
							<SegmentDuration>1</SegmentDuration>
							<SegmentCount>4</SegmentCount>
							<CrossDomains>
								<Url>*</Url>
							</CrossDomains>
						</LLHLS>
						<DASH>
							<SegmentDuration>1</SegmentDuration>
							<SegmentCount>3</SegmentCount>
							<CrossDomains>
								<Url>*</Url>
							</CrossDomains>
							<UTCTiming>
								<Scheme>urn:mpeg:dash:utc:http-xsdate:2014</Scheme>
								<Value>/time?iso&amp;ms</Value>
							</UTCTiming>
						</DASH>
						<LLDASH>
							<SegmentDuration>1</SegmentDuration>
							<CrossDomains>
								<Url>*</Url>
							</CrossDomains>
							<UTCTiming />
						</LLDASH>
						<Thumbnail>
							<CrossDomains>
								<Url>*</Url>
							</CrossDomains>	
						</Thumbnail>
					</Publishers>
				</Application>
				<Application>
					<!-- this app is for PS4 Twitch stream interception -->
					<Name>app</Name>
					<Type>live</Type>
					<OutputProfiles>
						<OutputProfile>
							<Name>bypass</Name>
							<OutputStreamName>twitch</OutputStreamName>
							<Encodes>
								<Video>
									<Bypass>true</Bypass>
								</Video>
								<Audio>
									<Codec>opus</Codec>
									<Bitrate>128000</Bitrate>
									<Samplerate>48000</Samplerate>
									<Channel>2</Channel>
								</Audio>
								<Audio>
									<Bypass>true</Bypass>
								</Audio>
								<Image>
									<Codec>png</Codec>
									<Framerate>1</Framerate>
								</Image>
							</Encodes>
						</OutputProfile>
					</OutputProfiles>
					<Providers>
						<RTMP />
					</Providers>
					<Publishers>
						<OVT />
						<WebRTC>
							<Timeout>30000</Timeout>
							<Rtx>true</Rtx>
							<Ulpfec>true</Ulpfec>
							<JitterBuffer>true</JitterBuffer>
						</WebRTC>
						<HLS>
							<SegmentDuration>4</SegmentDuration>
							<SegmentCount>2</SegmentCount>
							<CrossDomains>
								<Url>*</Url>
							</CrossDomains>
						</HLS>
						<LLHLS>
							<ChunkDuration>0.2</ChunkDuration>
							<SegmentDuration>1</SegmentDuration>
							<SegmentCount>4</SegmentCount>
							<CrossDomains>
								<Url>*</Url>
							</CrossDomains>
						</LLHLS>
						<DASH>
							<SegmentDuration>1</SegmentDuration>
							<SegmentCount>3</SegmentCount>
							<CrossDomains>
								<Url>*</Url>
							</CrossDomains>
							<UTCTiming>
								<Scheme>urn:mpeg:dash:utc:http-xsdate:2014</Scheme>
								<Value>/time?iso&amp;ms</Value>
							</UTCTiming>
						</DASH>
						<LLDASH>
							<SegmentDuration>1</SegmentDuration>
							<CrossDomains>
								<Url>*</Url>
							</CrossDomains>
							<UTCTiming />
						</LLDASH>
						<Thumbnail>
							<CrossDomains>
								<Url>*</Url>
							</CrossDomains>	
						</Thumbnail>
					</Publishers>
				</Application>
			</Applications>
		</VirtualHost>
	</VirtualHosts>
</Server>
